<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <!--<a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>-->
    <button mat-flat-button routerLink="admin">Admin</button>
    <button mat-flat-button class="ml-2" routerLink="users">Users</button>
    <mat-form-field class="ml-5" name="loginRegisterDropdown">
      <mat-select placeholder="Login" (selectionChange)="navigateTo($event.value)">
        <mat-option *ngFor="let entry of entires" [value]="entry.link">
          {{entry.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>